__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
tests/
.pytest_cache
.coverage
htmlcov/
*.log
helm/
.github/
frontend/
node_modules/
*.md
!README.md
